.main {
    background-image: none;
    background-color: lightsteelblue;
    display:inline-block;
    padding: 1rem;
    margin-top: 3rem;
}

nav {
    background-image: none;
    background-color: lightsteelblue;
    display:inline-block;
}

nav a:not(:last-child) {
    padding-right: 1rem;
}

footer {
    font-size: small;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 99%;
}

header {
    text-align: center;
}

body {
    background-image: url("images/clouds_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    text-align: center;
}