.picture-citations {
    text-align: center;
    font-weight: 200;
    float: left;
    width: 33%;
}

.picture-citations ul {
    display: inline-block;
}

.cloud-citations {
    text-align: center;
    font-weight: 200;
    float: left;
    width: 33%;
}

.cloud-citations ul {   
    display: inline-block;
}

.other-citations {
    text-align: center;
    font-weight: 200;
    float: left;
    width: 33%;
}

.other-citations ul {   
    display: inline-block;
}